<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row header">
    <div class="col text">
      <i class="fas fa-broadcast-tower"></i>
      Games Of Thrones
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']">GOT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="margin-right:5% ">
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter
        </a>
        <div class="dropdown-menu"aria-labelledby="navbarDropdown">
          <a class="dropdown-item"  [routerLink]="['/house']">House</a>
          <a class="dropdown-item"  [routerLink]="['/character']">Character</a>
          <a class="dropdown-item"  [routerLink]="['/book']">Book</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

